fastapi
uvicorn
google-cloud-firestore
firebase-admin
PyPDF2
gtts
googletrans==4.0.0-rc1
pydub
speechrecognition
scipy
soundfile
bcrypt
python-jose[cryptography]
httpx
pydantic
python-multipart
google-genai
google-cloud-storage
firebase-admin
bcrypt
python-jose
python-dotenv
cachetools
rembg
onnxruntime
vertexai
langchain-google-vertexai
langchain_google_genai
langchain_openai
langchain